<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-back-button defaultHref='/' color="tertiary"></ion-back-button>
        </ion-buttons>
        <ion-title>{{task.title}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <ion-list color="dark">
        <ion-item color="dark">
            <ion-label position="floating">New item</ion-label>
            <ion-input type="text" [(ngModel)]="itemName" (keyup.enter)="addItem()"></ion-input>
        </ion-item>
    </ion-list>

    <ion-list>
        <ion-list-header color="dark">
            <ion-label>Tasks to do</ion-label>
        </ion-list-header>

        <ion-item-sliding class="animated fadeInDown" *ngFor="let item of task.items; let i = index">
            <ion-item color="dark">
                <ion-checkbox slot="start" color="tertiary" [(ngModel)]="item.done" (ionChange)="check()"></ion-checkbox>
                <ion-label>{{item.desc}}</ion-label>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option (click)="delete(i)" color="danger">
                    <ion-icon slot="icon-only" name="close"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>

    </ion-list>
</ion-content>