<ion-header no-border>
    <ion-toolbar color="dark">
        <ion-title>
            To Do List
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">

    <app-lists></app-lists>

    <ion-list color="dark">
        <ion-item *ngFor="let task of taskService.tasks" detail color="dark" (click)="selectedTask(task)">
            <ion-label>{{task.title}}</ion-label>
            <ion-note slot="end" color="tertiary">{{task.items.length}} items</ion-note>
        </ion-item>
    </ion-list>

    <!-- fab placed to the top end -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="tertiary" (click)="addTask()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>